
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main
{
    padding: 2rem;
    color: rgb(95, 16, 231);
}

.lista
{
    font-size: 20px;
    color: black;
    background-color: rgb(225, 255, 0);
    margin: 1.6rem;
}

h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(95, 16, 231);
    margin: 0 auto;
}

#cabecera
{
    background-color: rgb(95, 16, 231);
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#finalfinal
{
    background-color:rgb(225, 255, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    padding: 5px;
}

#listanum
{
    width: 50%;
    padding: 0.5em;
    text-align: left;
    border: 1px solid rgba(127, 90, 192, 0.872);
    margin: 20px;
    background-color: rgba(170, 223, 240, 0.877);
}

/* #colorin
{
    color: greenyellow;
    background-color: fuchsia;
}


} */
