
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main
{
    padding: 2rem;
}

.lista
{
    font-size: 20px;
    color: black;
    background-color: aqua;
    margin: 1.6rem;
}

h1
{
    font-size: 20px;
}

h3
{
    font-size: 15px;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin: 0 auto;
}

#colorin
{
    color: greenyellow;
    background-color: fuchsia;
}

#cabecera
{
    background-color: rgb(26, 26, 126);
    font-weight: bold;
    color: white;
    padding: 0.5em;
    margin-bottom: 5px;
}