
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer
{
    background-color: #1d345f;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* #colorin
{
    color: greenyellow;
    background-color: fuchsia;
}


} */
